.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap:0px;
    align-items:flex-start;
    justify-content: flex-start;
    background-color: white;
    max-width:1800px
  }
  
  .sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    margin:0px auto ;
    gap: 0px;
    position: relative;
    width: 600px;
    border-bottom: 1px solid var(--grayLighter);
  }
  

  /* SUBTITLE CONTENT */
  .subtitle {
    display: flex;
    align-items: center;
    padding: 0px 0px 20px 0px;
    margin:0px auto ;
    position: relative;
    width: 600px;
  }

  .feedback::before {
    content: url('/images/Feedback.svg');
    display: inline-block;
    position: absolute;
    left: -20px;
    top:8px;
    transform: translateX(-100%);
  }

  .iteration::before {
    content: url('/images/Iteration.svg');
    display: inline-block;
    position: absolute;
    left: -20px;
    top:8px;
    transform: translateX(-100%);
  }

  .reflection::before {
    content: url('/images/Reflection.svg');
    display: inline-block;
    position: absolute;
    left: -20px;
    top:8px;
    transform: translateX(-100%);
  }



/* HEADER CONTENT */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.headerContainer {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    gap: 10px;    

    position: relative;
    width: 100vw;
    height: 100px;

    background: #FFFFFF;
    box-shadow: 0px 2px 2px var(--grayLighter);

    justify-content: space-between;
}

.headerLink {
  color: var(--grayDarker); 
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 32px;
  background-image:  url(/images/Cover.svg), url(/images/hover-underline.svg); /*written underline with white cover to animate */
  background-origin: content-box, content-box;
  background-position-x: right, right;
  background-position-y: 20px, 20px;
  background-size: 100% auto, contain;
  background-repeat: no-repeat, no-repeat;
  transition: background-size 0.15s;
}

.headerLink:hover {
  background-size: 0%, contain;
}

.headerButton {
  color: var(--grayDarker); 
  font-weight: 500;
  padding: 18.5px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/button-outline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 32px 32px;
  cursor: pointer;
}

.headerButton:hover {
  background-image: url(/images/button-outline-hover.svg);
}

/* HERO CONTENT */
.heroContainer {
  display: flex;
  align-items: center;
  padding: 40px 0px;
  margin:0px auto ;
  gap: 64px;
  position: relative;
  width: 600px;
  border-bottom: 1px solid var(--grayLighter);
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 0px;
  
  width: auto;
  height: auto;
}

/* FOOTER CONTENT */

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 16px;    

  position: relative;
  width: 100vw;
  background: var(--grayDarker);
  margin-top: auto;
}